
<!-- page wrap
================================================== -->
<div id="page" class="s-pagewrap ss-home">


    <!-- # site main content
    ================================================== -->
    <section id="content" class="s-content">

        <section class="s-pageheader pageheader">
             <div class="row">
                 <div class="column xl-12">
                     <h4 class="page-title">
                         <span class="page-title__small-type text-pretitle">Certifications</span>
                         Certifications
                     </h4>                            
                 </div>
             </div>
        </section> <!--pageheader --> 
        
        <app-certification-list></app-certification-list>
    </section>
</div>

