
        
        <section class="s-pagecontent pagecontent" >
            <!-- display: flex; flex-direction: column; align-items: center; -->
            <div class="card" style="width: 80%; padding: 6px;"> 
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <button class="btn--small btn--pill">
                        <a target="_blank" href="https://marietta-portfolio.vercel.app/">Website</a>
                    </button>
                    <button class="btn--small btn--pill">
                        <a target="_blank" href="https://github.com/marietta-a/portfolio">github</a>
                    </button>
                </div>
                <img src="assets/images/projects/blog-01.gif" 
                srcset="assets/images/projects/blog-01.gif 2400w, 
                        assets/images/projects/blog-01.gif 1200w, 
                        assets/images/projects/blog-01.gif 600w" width="100%" sizes="(max-width: 2400px) 100vw, 2400px" alt=""/>
                <div class="card-body text-center" style="display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                        <button class="btn--small btn--pill">Angular 16</button>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <button class="btn--small btn--pill">
                        <a target="_blank" href="https://marietta-portfolio.vercel.app/">Website</a>
                    </button>
                    <button class="btn--small btn--pill">
                        <a target="_blank" href="https://github.com/marietta-a/portfolio">github</a>
                    </button>
                </div>
            </div>
            <br/>

            <div class="card" style="width: 80%; padding: 6px;">
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <button class="btn--small btn--pill">
                        <a target="_blank" href="https://github.com/marietta-a/budgetting-api">backend code</a>
                    </button>
                    <button class="btn--small btn--pill">
                        <a target="_blank" href="https://github.com/marietta-a/maanjong-cosmetics">frontend code</a>
                    </button>
                </div>
                <img src="assets/images/projects/mj-01.gif" 
                srcset="assets/images/projects/mj-01.gif 2400w, 
                        assets/images/projects/mj-01.gif 1200w, 
                        assets/images/projects/mj-01.gif 600w" width="100%" sizes="(max-width: 2400px) 100vw, 2400px" alt=""/>
                <div class="card-body text-center" style="display: flex; flex-direction: column;">
                    <div class="text-left">
                        <strong>Ongoing E-commerce website project</strong> <br/>
                        <ul>
                            <!-- <li><small><i>Code First Migration</i> for data persistence</small></li> -->
                            <li><small>C# for backend</small></li>
                            <li><small>Angular 17 for frontend</small></li>
                        </ul>
                    </div>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                        <button class="btn--small btn--pill">C#</button>
                        <button class="btn--small btn--pill">SQL Lite</button>
                        <button class="btn--small btn--pill">Entity Framework Core</button>
                        <button class="btn--small btn--pill">.Net 7</button>
                        <button class="btn--small btn--pill">Angular 17</button>
                    </div>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                        <button class="btn--small btn--pill">
                            <a target="_blank" href="https://github.com/marietta-a/budgetting-api">backend code</a>
                        </button>
                        <button class="btn--small btn--pill">
                            <a target="_blank" href="https://github.com/marietta-a/maanjong-cosmetics">frontend code</a>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
           
        </section>