
     <!-- # cta
     ================================================== -->
     <section id="cta" class="s-cta">

        <div class="row row-x-center text-left">
            <div class="column xl-8 lg-12">

                <div class="s-cta__content">
                    <div>
                        <h4 class="text-display-title  text-pretitle">
                        Let's get started!!!
                        </h4>
                    </div>
                    <div class="row">
                        <div class="column xl-12 grid-block" style="display: flex; flex-direction: column; flex-wrap: wrap; align-items: flex-start; text-align: left;">    
                            
                            <div class="grid-full grid-list-items list-items show-ctr">
   
                                <div class="grid-list-items__item list-items__item">
                                    <div class="list-items__item-header">
                                        <h6 class="list-items__item-title" style="color: white;">
                                            Full stack Development
                                        </h6>
                                    </div>
                                    <!-- <div class="list-items__item-text">
                                        <p class="lead">
                                        </p>
                                    </div> -->
                                </div> <!-- end list-items__item -->   
   
                               <div class="grid-list-items__item list-items__item">
                                   <div class="list-items__item-header">
                                       <h6 class="list-items__item-title" style="color: white;">
                                        Web Application Development
                                    </h6>
                                   </div>
                                   <!-- <div class="list-items__item-text">
                                       <p class="lead">
                                       </p>
                                   </div> -->
                               </div> <!-- end list-items__item -->         
                                
                                <div class="grid-list-items__item list-items__item">
                                    <div class="list-items__item-header">
                                        <h6 class="list-items__item-title" style="color: white;">
                                            Win-form Application Development
                                        </h6>
                                    </div>
                                    <!-- <div class="list-items__item-text">
                                        <p>
                                        </p>
                                    </div> -->
                                </div> <!-- end list-items__item -->
   
                                <div class="grid-list-items__item list-items__item">
                                    <div class="list-items__item-header">
                                        <h6 class="list-items__item-title" style="color: white;">
                                            Custom Application Developmen
                                        </h6>
                                    </div>
                                    <!-- <div class="list-items__item-text">
                                        <p>
                                        </p>
                                    </div> -->
                                </div> <!-- end list-items__item -->
                            </div> <!-- grid-list-items -->
                           
   
                        </div> <!-- end grid-block-->
                    </div> <!-- end row -->
                    <a href="contact" class="btn btn--primary">Let's Work Together</a>
                </div>

            </div>
        </div>

    </section> <!-- end s-cta -->