
<section class="s-pagecontent pagecontent">
            
    <div class="row">
        <div class="column xl-12 grid-block" style="display: flex; flex-direction: column; flex-wrap: wrap; align-items: flex-start; text-align: left;">    
            
            <div class="grid-full grid-list-items list-items show-ctr">

                <div class="grid-list-items__item list-items__item">
                    <div class="list-items__item-header">
                        <h6 class="list-items__item-title" style="color: white;">
                            <a href="https://learn.microsoft.com/en-us/users/marietta-8994/credentials/400e2f7b533c2dd3" target="_blank">
                                Microsoft Certified: Azure Administrator Associate
                            </a>
                        </h6>
                    </div>
                </div> <!-- end list-items__item -->   

               <div class="grid-list-items__item list-items__item">
                   <div class="list-items__item-header">
                       <h6 class="list-items__item-title" style="color: white;">
                            <a href="https://learn.microsoft.com/en-us/users/marietta-8994/credentials/328c2257770d4060?ref=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank">
                                Microsoft Certified: DevOps Engineer Expert
                            </a>
                      </h6>
                   </div>
               </div> <!-- end list-items__item -->         
                
                <div class="grid-list-items__item list-items__item">
                    <div class="list-items__item-header">
                        <h6 class="list-items__item-title" style="color: white;">
                            <a href="https://www.freecodecamp.org/certification/marietta/responsive-web-design" target="_blank">
                                Responsive Web Design Developer Certification
                            </a>
                        </h6>
                    </div>
                </div> <!-- end list-items__item -->

                <div class="grid-list-items__item list-items__item">
                    <div class="list-items__item-header">
                        <h6 class="list-items__item-title" style="color: white;">
                            <a href="https://www.hackerrank.com/certificates/3965bae90f9c" target="_blank">
                                SQL (Intermediate) Certificate
                            </a>
                        </h6>
                    </div>
                </div> <!-- end list-items__item -->
            </div> <!-- grid-list-items -->
           

        </div> <!-- end grid-block-->
    </div> <!-- end row -->


    <!-- <div style="display: flex; flex-direction: column;">
        <button class="btn--small btn--pill">
            <a href="https://learn.microsoft.com/en-us/users/marietta-8994/credentials/400e2f7b533c2dd3" target="_blank">
                Microsoft Certified: Azure Administrator Associate
            </a>
        </button>
        <button class="btn--small btn--pill">
            <a href="https://learn.microsoft.com/en-us/users/marietta-8994/credentials/328c2257770d4060?ref=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank">
                Microsoft Certified: DevOps Engineer Expert
            </a>
        </button>
        <button class="btn--small btn--pill">
            <a href="https://www.freecodecamp.org/certification/marietta/responsive-web-design" target="_blank">
                Responsive Web Design Developer Certification
            </a>
        </button>
        <button class="btn--small btn--pill">
            <a href="https://www.hackerrank.com/certificates/3965bae90f9c" target="_blank">
                SQL (Intermediate) Certificate
            </a>
        </button>
    </div> -->



</section>