
<section class="s-pagecontent pagecontent">
    <div class="card" style="width: 80%;">
        <img src="assets/images/projects/dama_winform_00.gif" 
        srcset="assets/images/projects/dama_winform_00.gif 2400w, 
                assets/images/projects/dama_winform_00.gif 1200w, 
                assets/images/projects/dama_winform_00.gif 600w" width="100%" sizes="(max-width: 2400px) 100vw, 2400px" alt=""/>
        <div class="card-body text-center" style="display: flex; flex-direction: column;">
            <div class="text-left">
                <strong>Summary:</strong> <br/>
                    <small>
                        Retrieves users' data from database (MS SQL Server) based on a given search criteria
                    </small>
                <ul>
                    <!-- <li><small><i>Code First Migration</i> for data persistence</small></li> -->
                    <li><small><i>LINQ</i> to interract with database</small></li>
                    <li><small><i>webview2, AngularJS, Bootrap3, HTML5</i> for UI design</small></li>
                </ul>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <button class="btn--small btn--pill">C#</button>
                <button class="btn--small btn--pill">Microsoft SQL Server</button>
                <button class="btn--small btn--pill">Entity Framework</button>
                <button class="btn--small btn--pill">.Net</button>
                <button class="btn--small btn--pill">AngularJS</button>
                <button class="btn--small btn--pill">webview2</button>
                <button class="btn--small btn--pill">Bootrap3</button>
                <button class="btn--small btn--pill">HTML5</button>
            </div>
        </div>
    </div>
    <br/>
    
    <div class="card" style="width: 80%; padding: 6px;">
        <button class="btn--small btn--pill">
            <a target="_blank"target="_blank" href="https://github.com/marietta-a/TTS">
                code link
            </a>
        </button>
        <img src="assets/images/projects/tts_2.PNG" 
        srcset="assets/images/projects/tts_2.PNG 2400w, 
                assets/images/projects/tts_2.PNG 1200w, 
                assets/images/projects/tts_2.PNG 600w" width="100%" sizes="(max-width: 2400px) 100vw, 2400px" alt=""/>
        <div class="card-body text-center" style="display: flex; flex-direction: column;">

            <div class="text-left">
                <div>
                </div>
                <strong>Features:</strong> <br/>
                <ul>
                    <!-- <li><small><i>Code First Migration</i> for data persistence</small></li> -->
                    <li><small>Translates text from one language to another using Microsoft Translate API (Default being from English to French)</small></li>
                    <li><small>Possibility to read translated file as an audio through the use of Microsoft Speech synthesis (either a male or a female voice could be selected. The default being female voice)</small></li>
                    <li><small>Possibility to import a text/pdf file for translation</small></li>
                    <li><small>Possibility to export translated text as an audio file</small></li>
                    <li><small>DevExpress tools for UI design</small></li>
                </ul>
            </div>
            <div style="display: flex; flex-direction: row;">
                <button class="btn--small btn--pill">C#</button>
                <button class="btn--small btn--pill">DevExpress</button>
                <button class="btn--small btn--pill">Microsoft Translator</button>
                <button class="btn--small btn--pill">Microsoft Speech synthesis</button>
            </div>
            <button class="btn--small btn--pill">
                <a target="_blank"target="_blank" href="https://github.com/marietta-a/TTS">
                    code link
                </a>
            </button>
        </div>
    </div>
</section>