

        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <section class="s-pageheader pageheader">
                 <div class="row">
                     <div class="column xl-12">
                         <h1 class="page-title">
                             <span class="page-title__small-type text-pretitle">Services</span>
                             High-Impact Services
                         </h1>
                         
                     </div>
                 </div>
            </section> <!-- pageheader -->  

            <section class="s-pagecontent pagecontent">

                 <div class="row pageintro">
                     <div class="column xl-6 lg-12">
                         <h2 class="text-display-title">Full-Stack Development</h2>
                     </div>
                     <div class="column xl-6 lg-12 u-flexitem-x-right">
                        <p>Benefit from my comprehensive skill set in both front-end and back-end technologies. 
                           As a full-stack developer, I offer end-to-end development services, 
                           covering everything from UI/UX design and database management to server-side scripting and API integration.
                        </p>
                     </div>                       
                 </div>  <!-- pageintro -->       

                 <div class="row">
                     <div class="column xl-12 grid-block">    
                         
                         <div class="grid-full grid-list-items list-items show-ctr">

                            <div class="grid-list-items__item list-items__item">
                                <div class="list-items__item-header">
                                    <h3 class="list-items__item-title">Web Application Development</h3>
                                </div>
                                <div class="list-items__item-text">
                                    <p class="lead">
                                        Leverage my expertise in full-stack development to create dynamic and responsive web applications tailored to your specific needs. 
                                        From front-end design to back-end functionality, 
                                        I deliver robust and scalable solutions that enhance user engagement and drive business growth.
                                    </p>
                                </div>
                            </div> <!-- end list-items__item -->         
                             
                             <div class="grid-list-items__item list-items__item">
                                 <div class="list-items__item-header">
                                     <h3 class="list-items__item-title">Win-form Application Development</h3>
                                 </div>
                                 <div class="list-items__item-text">
                                     <p>Harness the power of desktop applications with my proficiency in Win-form development. 
                                        Whether you need a standalone application or an integrated solution, 
                                        I develop reliable and user-friendly desktop applications that streamline processes and boost productivity.
                                     </p>
                                 </div>
                             </div> <!-- end list-items__item -->

                             <div class="grid-list-items__item list-items__item">
                                 <div class="list-items__item-header">
                                     <h3 class="list-items__item-title">Custom Application Developmen</h3>
                                 </div>
                                 <div class="list-items__item-text">
                                     <p>Turn your ideas into reality with custom application development tailored to your unique requirements. 
                                        Whether you're launching a new product, automating workflows, or modernizing legacy systems, 
                                        I provide personalized solutions that align with your business goals and objectives.
                                     </p>
                                 </div>
                             </div> <!-- end list-items__item -->
                         </div> <!-- grid-list-items -->
                        

                     </div> <!-- end grid-block-->
                 </div> <!-- end row -->

            </section> <!-- pagecontent -->

            <!-- <section class="s-testimonials">

                 <div class="s-testimonials__header row row-x-center text-center">
                     <div class="column xl-8 lg-12">
     
                         <p class="text-pretitle">
                         Testimonials
                         </p>
                         <h3>
                         Reviews From Real Clients
                         </h3>                        
     
                     </div>
                 </div> 

                 <div class="row s-testimonials__content">
                     <div class="column xl-12 testimonials">

                         <div class="swiper-container testimonials__slider page-slider">

                             <div class="swiper-wrapper">
                                 <div class="testimonials__slide swiper-slide">
                                     <p>
                                     Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. 
                                     Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum.
                                     Laudantium quia consequatur molestias.
                                     </p>
                                     <div class="testimonials__author">
                                         <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                                         <cite class="testimonials__cite">
                                             <strong>John Rockefeller</strong>
                                             <span>Standard Oil Co.</span>
                                         </cite>
                                     </div>
                                 </div>
                                 <div class="testimonials__slide swiper-slide">
                                     <p>
                                     Voluptas tempore rem. Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. 
                                     Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum.
                                     Laudantium quia consequatur molestias.
                                     </p>
                                     <div class="testimonials__author">
                                         <img src="images/avatars/user-04.jpg" alt="Author image" class="testimonials__avatar">
                                         <cite class="testimonials__cite">
                                             <strong>Andrew Carnegie</strong>
                                             <span>Carnegie Steel Co.</span>
                                         </cite>
                                     </div>
                                 </div>
                                 <div class="testimonials__slide swiper-slide">
                                     <p>
                                     Nisi dolores quaerat fuga rem nihil nostrum. Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. 
                                     Voluptas tempore rem. Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. 
                                     Laudantium quia consequatur molestias.
                                     </p>
                                     <div class="testimonials__author">
                                         <img src="images/avatars/user-06.jpg" alt="Author image" class="testimonials__avatar">
                                         <cite class="testimonials__cite">
                                             <strong>Henry Ford</strong>
                                             <span>Ford Motor Co.</span>
                                         </cite>
                                     </div>
                                 </div>
                                 <div class="testimonials__slide swiper-slide">
                                     <p>
                                     Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. 
                                     Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum.
                                     Laudantium quia consequatur molestias.
                                     </p>
                                     <div class="testimonials__author">
                                         <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                                         <cite class="testimonials__cite">
                                             <strong>John Morgan</strong>
                                             <span>JP Morgan & Co.</span>
                                         </cite>
                                     </div>
                                 </div> 
                             </div>

                             <div class="swiper-pagination"></div>

                         </div>

                     </div> 
                 </div> 

            </section>  -->
            <!-- end s-testimonials -->

     </section> <!-- s-content-->

     <!-- # cta
     ================================================== -->
     <section id="cta" class="s-cta">

         <div class="row row-x-center text-center">
             <div class="column xl-8 lg-12">

                 <div class="s-cta__content">
                     <h2 class="text-display-title">
                     Get started with a consultation today.
                     </h2>
                     <p class="lead">
                        Transform your business ideas into reality
                     </p>
                     <a href="contact" class="btn btn--primary">Let's Work Together</a>
                 </div>

             </div>
         </div>

     </section> <!-- end s-cta -->