
        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <section class="s-pageheader pageheader">
                 <div class="row">
                     <div class="column xl-12">
                         <h1 class="page-title">
                             <span class="page-title__small-type text-pretitle">My Blog</span>
                             Recent Writings
                         </h1>
                     </div>
                 </div>
            </section>   

            <section class="s-pagecontent pagecontent">

                 <div class="row">
                     <div class="column xl-12 grid-block">          
     
                         <!-- <div class="grid-full">         -->
                             <div class="grid-full grid-list-items">

                                 <div class="grid-list-items__item blog-card">
                                     <div class="blog-card__header">
                                         <div class="blog-card__cat-links">
                                             <a href="blog">DevOps</a>
                                         </div>
                                         <h3 class="blog-card__title">
                                            <a href="https://www.linkedin.com/pulse/beginners-guide-running-self-hosted-azure-pipelines-agent-akumbom-bxvee%3FtrackingId=7GOn25yeRRSMo%252BsgS5CG4w%253D%253D/?trackingId=7GOn25yeRRSMo%2BsgS5CG4w%3D%3D">
                                             Need help running a Self-Hosted Azure Pipelines Agent on GitHub Codespaces
                                            </a>
                                        </h3>
                                     </div>
                                     <div class="blog-card__text">
                                        This blog covers the following topics:
                                        <ul>
                                            <li>Create an Azure DevOps Project</li>
                                            <li>Create a Personal Access Token(PAT) in Azure DevOps</li>
                                            <li>Create an Agent Pool in Azure DevOps</li>
                                            <li>Setup GitHub Codespaces</li>
                                            <li>Create an Azure DevOps Pipeline and Self-Host it on GitHub Codespaces</li>
                                        </ul>
                                        <div>
                                           Technologies:
                                           <ul>
                                               <li>Azure DevOps</li>
                                               <li>Git</li>
                                           </ul>
                                           <a style="color: blue;" target="_blank" href="https://www.linkedin.com/pulse/beginners-guide-running-self-hosted-azure-pipelines-agent-akumbom-bxvee%3FtrackingId=7GOn25yeRRSMo%252BsgS5CG4w%253D%253D/?trackingId=7GOn25yeRRSMo%2BsgS5CG4w%3D%3D">
                                               Detailed blog post ...
                                           </a>
                                       </div>
                                     </div>
                                     
                                 </div> <!-- end blog-card -->

                                 <div class="grid-list-items__item blog-card">
                                     <div class="blog-card__header">
                                         <div class="blog-card__cat-links">
                                             <a href="blog">DevOps Journey</a>
                                         </div>
                                         <h3 class="blog-card__title">
                                            <a href="https://marietta.hashnode.dev/devops-journey-aws-circleci">
                                                Working On Udacity Cloud DevOps Engineering projects 3
                                            </a>
                                        </h3>
                                     </div>
                                     <div class="blog-card__text">
                                         <p>
                                            While working on Udacity Cloud DevOps Engineering projects, project 3 has been a pain in the kneck. 
                                            Mostly caused by some negligence, poor choice of the docker image and unimaginable syntax errors.
                                            In this write-up, I talk about migrations job.
                                         </p>
                                         <div>
                                            Technologies:
                                            <ul>
                                                <li>CircleCi</li>
                                                <li>Ansible</li>
                                                <li>Aws</li>
                                            </ul>
                                            <a style="color: blue;" target="_blank" href="https://marietta.hashnode.dev/devops-journey-aws-circleci">
                                                Detailed blog post ...
                                            </a>
                                        </div>
                                     </div>
                                 </div> <!-- end blog-card -->

     
                             </div> <!-- grid-list-items -->
                         <!-- </div>     -->

                     </div> <!-- end grid-block-->
                 </div> <!-- end row -->

                 <!-- pagination -->
                 <!-- <div class="row navigation pagination">
                     <div class="column xl-12">
                         <nav class="pgn">
                             <ul>
                                 <li>
                                     <a class="pgn__prev" href="#0">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"/></svg>
                                     </a>
                                 </li>
                                 <li><a class="pgn__num" href="#0">1</a></li>
                                 <li><span class="pgn__num current">2</span></li>
                                 <li><a class="pgn__num" href="#0">3</a></li>
                                 <li><a class="pgn__num" href="#0">4</a></li>
                                 <li><a class="pgn__num" href="#0">5</a></li>
                                 <li><span class="pgn__num dots">…</span></li>
                                 <li><a class="pgn__num" href="#0">8</a></li>
                                 <li>
                                     <a class="pgn__next" href="#0">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
                                     </a>
                                 </li>
                             </ul>
                         </nav>
                     </div>
                 </div>  -->
                 <!-- end pagination -->

            </section>

     </section> <!-- s-content-->
