
  <!-- page wrap
  ================================================== -->
<div id="page" class="s-pagewrap ss-home">


    <!-- # site main content
    ================================================== -->
    <section id="content" class="s-content">

        <!-- intro
        ----------------------------------------------- -->
        <section id="intro" class="s-intro">

            <div class="row s-intro__content width-sixteen-col">

                <div class="column lg-12 s-intro__content-inner grid-block">
                    
                    <div class="s-intro__content-text">
                        <div class="s-intro__content-pretitle text-pretitle">Hello, I'm Marietta</div>
                        <h1 class="s-intro__content-title">
                            Experienced Full Stack Developer<br>
                            Ready to Elevate Your Projects <br>
                        </h1>
                        <div class="s-intro__content-pretitle">
                            <a href="/projects" class="btn btn--small btn--pill btn--primary s-header__contact-btn"><small>View Projects</small></a>                        
                        </div>
                    </div> <!-- s-intro__content-text -->

                    <div class="s-intro__content-media"> 
                        <div class="s-intro__content-media-inner">                               
                            <img src="assets/images/avatars/marietta.jpg"
                            srcset="assets/images/avatars/marietta.jpg 2400w, 
                                    assets/images/avatars/marietta.jpg 1200w, 
                                    assets/images/avatars/marietta.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px"  alt="Marietta">
                            <div class="lines">                               
                                <span></span>                                  
                            </div>
                        </div>
                    </div> <!-- s-intro__content-media -->                      

                    <div class="s-intro__scroll-down">
                        <a href="about" class="smoothscroll">
                            <div class="scroll-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="none" stroke="#97b34a" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">&lt;!--!  Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;<polyline points="7 13 12 18 17 13"></polyline><line x1="12" y1="18" x2="12" y2="6"></line></svg>
                            </div>
                            <span>Scroll for more</span>
                        </a>
                    </div> <!-- s-intro__scroll-down -->
                    
                </div> <!-- s-intro__content-inner -->

            </div> <!-- s-intro__content -->

        </section> <!-- end s-intro -->

        <!-- about
        ----------------------------------------------- -->
        <section id="about" class="s-about target-section">

            <div class="row s-about__content width-sixteen-col">
                <div class="column grid-block grid-section-split">

                    <img src="/assets/images/geometric_shape.svg" alt="" class="s-about__content-imgbg">

                    <div class="section-header grid-section-split__header">
                        <div class="text-pretitle">About</div>                           
                        <h2 class="text-display-title">
                            Full stack Software Developer
                        </h2>                           
                    </div> <!-- end section-header -->

                    <div class="s-about__content-main grid-section-split__primary">
                        <div class="attention-getter">
                            <app-about-note></app-about-note>
                        </div>
                    </div> <!-- end s-about__content-main -->

                    <div class="s-about__content-btn grid-section-split__bottom">
                        <a href="about" class="btn btn--stroke u-fullwidth">More About Me</a>
                        <div style="background-color: white; padding: 4px;">
                            <app-social-media></app-social-media>
                        </div>
                    </div> <!-- end s-about__content-btn -->
                
                </div> <!-- content-inner -->
            </div>
            
        </section> <!-- end s-about -->

        <!-- expertise
        ----------------------------------------------- -->
        <section id="expertise" class="s-expertise">

            <div class="row s-expertise__content width-sixteen-col">
                <div class="column xl-12 grid-block grid-section-split">

                    <div class="section-header grid-section-split__header">
                        <div class="text-pretitle">Expertise</div>                           
                        <h2 class="text-display-title">
                        My key areas of expertise.
                        </h2>     
                        
                        <!-- <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum suscipit debitis quam dignissimos veritatis atque pariatur magnam obcaecati fugit reprehenderit vel numquam facere esse est deserunt, perferendis commodi voluptatem similique.
                        </p> -->
                    </div> <!-- end section-header -->

                    <div class="s-expertise__content-main grid-section-split__primary">
                        <app-services-list></app-services-list>
                    </div> <!-- end s-expertise__content-main -->

                    <div class="s-expertise__content-btn grid-section-split__bottom">
                        <a href="services" class="btn btn--stroke u-fullwidth">View All Services</a>
                    </div> <!-- end s-about__content-btn -->

                </div> <!-- end grid-block-->
            </div> <!-- end s-expertise__content -->

        </section> <!-- end s-expertise -->

        <!-- clients
        ----------------------------------------------- -->
        <!-- <section id="clients" class="s-clients">          

            <div class="row s-clients__content-block width-sixteen-col">
                <div class="column xl-12 grid-block grid-section-split">
                
                    <div class="section-header grid-section-split__header">
                        <div class="text-pretitle">Clients</div>                           
                        <h2 class="text-display-title">
                        I have had the privilege of working with these incredible brands.
                        </h2>       
                    </div> 
                
                    <div class="grid-section-split__primary">
                        <p class="lead">
                        Quibusdam quis autem voluptatibus earum vel ex error ea. Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Laborum suscipit debitis quam dignissimos veritatis atque pariatur magnam 
                        obcaecati fugit reprehenderit vel numquam facere esse est deserunt, perferendis commodi voluptatem similique.
                        </p>   

                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, numquam molestiae vel quaerat quas 
                        facilis voluptates rerum aspernatur quam voluptatem ea, vitae illo, omnis minus vero minima maiores 
                        quia nihil incidunt provident debitis ab qui quasi. Iure unde numquam in nulla praesentium nesciunt 
                        dolore exercitationem, odit expedita minima quisquam ullam ex. Aut perferendis vel consectetur modi esse.
                        Temporibus reprehenderit alias magni atque repellat aspernatur voluptates, accusantium pariatur libero ad 
                        nesciunt illum labore facere. Earum iure consequatur cumque omnis maiores optio.
                        </p>
                    </div>
                
                </div> 
            </div> 

            <div class="row s-clients__content-block width-sixteen-col">
                <div class="column xl-12">
                
                    <div class="clients-list">                            
                        <div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/flash.svg" alt="">
                            </a>
                        </div>
                        <div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/rise.svg" alt="">
                            </a>
                        </div>
                        <div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/cactus.svg" alt="">
                            </a>
                        </div>
                        <div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/pinpoint.svg" alt="">
                            </a>
                        </div>
                        <div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/proline.svg" alt="">
                            </a>
                        </div>
                        <div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/vision.svg" alt="">
                            </a>
                        </div>
                        <div class="column clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/volume.svg" alt="">
                            </a>
                        </div>
                        <div class="column clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/hitech.svg" alt="">
                            </a>
                        </div><div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/terra.svg" alt="">
                            </a>
                        </div>
                        <div class="clients-list__item">
                            <a href="#0">
                                <img src="/assets/images/clients/chain.svg" alt="">
                            </a>
                        </div>
                    </div> 

                </div>
            </div>
                            
            <div class="row s-clients__content-block width-sixteen-col">
                <div class="column xl-12 testimonials">
                
                    <div class="swiper-container testimonials__slider home-slider">

                        <div class="swiper-wrapper">
                            <div class="testimonials__slide swiper-slide">
                                <p>
                                Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. 
                                Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum.
                                Laudantium quia consequatur molestias.
                                </p>
                                <div class="testimonials__author">
                                    <img src="/assets/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                                    <cite class="testimonials__cite">
                                        <strong>John Rockefeller</strong>
                                        <span>Standard Oil Co.</span>
                                    </cite>
                                </div>
                            </div>
                            <div class="testimonials__slide swiper-slide">
                                <p>
                                Nisi dolores quaerat fuga rem nihil nostrum. Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. 
                                Voluptas tempore rem. Laudantium quia consequatur molestias.
                                Explicabo a quaerat sint autem dolore ducimus ut consequatur neque.
                                </p>
                                <div class="testimonials__author">
                                    <img src="/assets/images/avatars/user-04.jpg" alt="Author image" class="testimonials__avatar">
                                    <cite class="testimonials__cite">
                                        <strong>Andrew Carnegie</strong>
                                        <span>Carnegie Steel Co.</span>
                                    </cite>
                                </div>
                            </div>
                            <div class="testimonials__slide swiper-slide">
                                <p>
                                Voluptas tempore rem. Molestiae incidunt consequatur quis ipsa autem nam sit enim magni.  
                                Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. 
                                Nisi dolores quaerat fuga rem nihil nostrum. Laudantium quia consequatur molestias.
                                </p>
                                <div class="testimonials__author">
                                    <img src="/assets/images/avatars/user-06.jpg" alt="Author image" class="testimonials__avatar">
                                    <cite class="testimonials__cite">
                                        <strong>Henry Ford</strong>
                                        <span>Ford Motor Co.</span>
                                    </cite>
                                </div>
                            </div>
                            <div class="testimonials__slide swiper-slide">
                                <p>
                                Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. 
                                Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum.
                                Laudantium quia consequatur molestias.
                                </p>
                                <div class="testimonials__author">
                                    <img src="/assets/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                                    <cite class="testimonials__cite">
                                        <strong>John Morgan</strong>
                                        <span>JP Morgan & Co.</span>
                                    </cite>
                                </div>
                            </div> 
                        </div>

                        <div class="swiper-pagination"></div>

                    </div>                  
                
                </div>
            </div> 


        </section> -->
         <!-- end s-clients -->            

    </section> <!-- s-content-->

    <!-- # cta
    ================================================== -->
    <!-- <section id="cta" class="s-cta">

        <div class="row row-x-center text-center">
            <div class="column xl-8 lg-12">

                <div class="s-cta__content">
                    <h2 class="text-display-title">
                    Get started with a consultation today.
                    </h2>
                    <p class="lead">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis rem, esse doloribus sint eaque at debitis enim vitae minus expedita ratione dignissimos sit nostrum optio sequi. Ipsa at beatae quam.
                    </p>
                    <a href="contact" class="btn btn--primary">Let's Work Together</a>
                </div>

            </div>
        </div>

    </section> -->
     <!-- end s-cta -->

    <!-- # journal
    ================================================== -->
    <section id="journal" class="s-journal">

        <div class="row s-journal__content width-sixteen-col">
            <div class="column xl-12 grid-block">

                <div class="grid-full section-header text-center">
                    <div class="text-pretitle">Recent Articles</div>                           
                    <h2 class="text-display-title">
                    Latest articles from my blog.
                    </h2>  
                </div> <!-- end section-header --> 

                <div class="grid-full s-journal__content-main grid-list-items">


                    <div class="grid-list-items__item blog-card">
                        <div class="blog-card__header">
                            <div class="blog-card__cat-links">
                                <a href="blog">DevOps</a>
                            </div>
                            <h3 class="blog-card__title">
                               <a href="https://www.linkedin.com/pulse/beginners-guide-running-self-hosted-azure-pipelines-agent-akumbom-bxvee%3FtrackingId=7GOn25yeRRSMo%252BsgS5CG4w%253D%253D/?trackingId=7GOn25yeRRSMo%2BsgS5CG4w%3D%3D">
                                Need help running a Self-Hosted Azure Pipelines Agent on GitHub Codespaces
                               </a>
                           </h3>
                        </div>
                        <div class="blog-card__text">
                           This blog covers the following topics:
                           <ul>
                               <li>Create an Azure DevOps Project</li>
                               <li>Create a Personal Access Token(PAT) in Azure DevOps</li>
                               <li>Create an Agent Pool in Azure DevOps</li>
                               <li>Setup GitHub Codespaces</li>
                               <li>Create an Azure DevOps Pipeline and Self-Host it on GitHub Codespaces</li>
                           </ul>
                           <div>
                              Technologies:
                              <ul>
                                  <li>Azure DevOps</li>
                                  <li>Git</li>
                              </ul>
                          </div>
                        </div>
                    </div> <!-- end blog-card -->

                    <div class="grid-list-items__item blog-card">
                        <div class="blog-card__header">
                            <div class="blog-card__cat-links">
                                <a href="blog">DevOps Journey</a>
                            </div>
                            <h3 class="blog-card__title">
                               <a href="https://marietta.hashnode.dev/devops-journey-aws-circleci">Working On Udacity Cloud DevOps Engineering projects 3</a>
                             
                           </h3>
                        </div>
                        <div class="blog-card__text">
                            <p>
                               While working on Udacity Cloud DevOps Engineering projects, project 3 has been a pain in the kneck. 
                               Mostly caused by some negligence, poor choice of the docker image and unimaginable syntax errors.
                               In this write-up, I talk about migrations job.
                            </p>
                            <div>
                               Technologies:
                               <ul>
                                   <li>CircleCi</li>
                                   <li>Ansible</li>
                                   <li>Aws</li>
                               </ul>
                           </div>
                        </div>
                    </div> <!-- end blog-card -->

                </div> <!-- end grid-list-items -->

            </div> <!-- end grid-block-->
        </div> <!-- end s-journal__content -->

    </section> <!-- end s-journal -->

</div> <!-- end page-wrap -->